{% extends 'basic/base.html' %}{% load static %}
{% block title %}

About

{% endblock %}

{% block body %}
<br><br>
<div class="col-sm-12">
    <h1 style="color: #ff7200;">About Us</h1><br>
    <h6>Neuro API is a platform for converting the speech in your Audio / Video files into Text i.e Transcripts
        using ASR (Automatic Speech Recognition)
        Hope you find our services useful.</h6><br>
        <h6>Domain: Web Development/Computer Networks</h6><br>
        <h6>Tech/Tools Used: Front-End - HTML, CSS, JavaScript. Back-End - Django, Python, MySQL.</h6>
</div>
{% endblock %}