{% extends 'basic/base.html' %}{% load static %}
{% block title %}

Contacts

{% endblock %}

{% block body %}
<br><br>
<div class="content">
    <span>
        Founders
    </span>
</div>

<div>
    <h3 style="color: #ff7200;">Akhil Gangishetti</h3>
        <dl>
                <dd><b>Email:</b> 19311A05W7@sreenidhi.edu.in</dd>
                <dd><b>Phone:</b> +91 8639196751</dd>
                <dd>LinkedIn:</dd>
                <dd>Instagram: akhil_gangishetti_0404</dd>
        </dl>
    <h3 style="color: #ff7200;">Emmanuel Dass</h3>
        <dl>
            <dd><b>Email:</b> 19311A05V4@sreenidhi.edu.in</dd>
            <dd><b>Phone:</b> +91 9701019238</dd>
            <dd>LinkedIn: <a>www.linkedin.com/in/emmanuel-dass-57621a1b8</a></dd>
            <dd>Instagram: das_emmu_</dd>
        </dl>
</div>

{% endblock %}