<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuroAPI</title>
    <link rel="stylesheet" href="static\css\template.css">
    <link rel="shortcut icon"
        href="https://ik.imagekit.io/abhinesh/Nuopedia/Union_1_PS0DE_7wU.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1666777143967"
        type="image/x-icon">
</head>
<body>
    <!--<div class="main">-->
        <div class="Index-container">

            <div id="topnav">topnav

                <header>
                    <div class="logo">
                        <a href="http://127.0.0.1:8000/service/"><img src="static\css\logo.PNG" alt=""></a>
                        <a href="http://127.0.0.1:8000/service/"><span class="logo-heading"><h3>NeuroAPI</h3></span></a>
                    </div>
                    <nav>
                        <ul class="nav-links">
                            <li><a href="http://127.0.0.1:8000/register/">Sign Up</a></li>
                            <li><a href="http://127.0.0.1:8000/login/">Sign In</a></li>
                        </ul>
                    </nav>
                    <a href="http://127.0.0.1:8000/register/" class="cta"><button class="">Join Us</button></a>
                </header>
            </div>
    
            <div id="side-space1">side-space1
    
            </div>
    
            <div class="content" id="content1">content1
                <h1>Automatic Speech Recognition<br><Span>your one stop destination</Span></h1><br><br>
                <p class="par">Neuro API is a platform for converting the speech in your Audio / Video files into Text <br>i.e Transcripts
                    using ASR (Automatic Speech Recognition)</p>
            </div>
    
            <div id="content2">content2
                <div class="side-img1">
                    <img src="static\css\side-img.PNG" alt="">
                </div>
            </div>
    
            <div id="side-space2">side-space2
    
            </div>
    
            <div class="topnav1" id="topnav1">topnav1
                <h3 align="center">Add the power of <i>"Keyword Match"</i> to your Videos</h3>
                <p align="center" class="par">The Nuronics Platform provides you the fastest “voice-to-meaning” technologies combined with unprecedented accuracy using our proprietary “Meaning Match” algorithm. <br>The users get to ask questions from multiple areas of interest using voice or text and our engine delivers these complex queries within a fraction of second. <br> Moreover, you can define your own “wake words” to deliver your brand across all your products.</p>
            </div>

            <div id="side-space3">side-space3
    
            </div>

            <div id="content3">content3
                <div class="side-img2">
                    <img src="static\css\graphs.png" alt="">
                </div>
            </div>
            <div class="content4" id="content4">content4
                <h3 align="center">Add <i>"Speech Analytics"</i> to your Videos</h3><br><br>
                <p  class="par">Neuro API comes with speech analytics APIs that can help you gain insights from your videos, audio files. <br> We provide keyword based video retrieval, keyword based audio retrieval, keyword search, keyword count.</p>
            </div>
            <div id="side-space4">side-space4
    
            </div>
            <div class="topnav1" id="topnav2">topnav2
                <h3 align="center">Add the power of <i>"Keyword Match"</i> to your Videos</h3>
                <p align="center" class="par">The Nuronics Platform provides you the fastest “voice-to-meaning” technologies combined with unprecedented accuracy using our proprietary “Meaning Match” algorithm. <br>The users get to ask questions from multiple areas of interest using voice or text and our engine delivers these complex queries within a fraction of second. <br> Moreover, you can define your own “wake words” to deliver your brand across all your products.</p>
            </div>
            <div id="side-space5">side-space5
    
            </div>

            <div id="content5">content5
                <div class="side-img3">
                    <img src="static\css\asr.png" alt="">
                </div>
            </div>
            <div class="content6" id="content6">content6
                <h3 align="center">Add <i>"Automatic Speech Recognition"</i> to your Videos</h3><br><br>
                <p  class="par">Our indigenous Automatic Speech Recognition (ASR) engine recognizes your speech on the fly.<br> The speech recognition also works offline on your product.</p>
            </div>
            <div id="side-space6">side-space6
    
            </div>
            <div class="topnav1" id="topnav3">topnav3
                <h3 align="center">Add the power of <i>"Keyword Match"</i> to your Videos</h3>
                <p align="center" class="par">The Nuronics Platform provides you the fastest “voice-to-meaning” technologies combined with unprecedented accuracy using our proprietary “Meaning Match” algorithm. <br>The users get to ask questions from multiple areas of interest using voice or text and our engine delivers these complex queries within a fraction of second. <br> Moreover, you can define your own “wake words” to deliver your brand across all your products.</p>
            </div>
            <div id="side-space7">side-space7
    
            </div>
            <div class="content7" id="content7">content7
                <h3 align="center">Experience <i>"Django"</i></h3><br><br>
                <p  class="par">Django is a free and open-source, Python-based web framework that follows the model–template–views architectural pattern.<br> </p>
            </div>
            <div id="content8">content8
                <div class="side-img4">
                    <img src="static\css\django.png" alt="">
                </div>
            </div>
            <div id="side-space8">side-space8
    
            </div>

            <div class="topnav1" id="topnav4">topnav4
                <h3 align="center">Add the power of <i>"Keyword Match"</i> to your Videos</h3>
                <p align="center" class="par">The Nuronics Platform provides you the fastest “voice-to-meaning” technologies combined with unprecedented accuracy using our proprietary “Meaning Match” algorithm. <br>The users get to ask questions from multiple areas of interest using voice or text and our engine delivers these complex queries within a fraction of second. <br> Moreover, you can define your own “wake words” to deliver your brand across all your products.</p>
            </div>
            

        </div>
        
        
        
    <script>
    window.addEventListener("scroll", function(){
    var header = document.querySelector("header");
    header.classList.toggle("sticky", window.scrollY > 0)
    })
    
    function submitData(){

            var email = $("#email").val()
            var password = $("#pwd").val()

            console.log(email,password,"----------- line 37")
            var form = new FormData();
            form.append("username", email);
            form.append("passwordUser", password);
            console.log(form, "---------------line 42")
            var settings = {
            "url": "/loginUrl/",
            "method": "POST",
            "timeout": 0,
            "processData": false,
            "mimeType": "multipart/form-data",
            "contentType": false,
            "data": form
            };

            $.ajax(settings).done(function (response) {
            console.log(response);
            var convertingtoParse = JSON.parse(response)
            console.log(convertingtoParse)
            if (convertingtoParse.status == 200) {
                localStorage.setItem('userData', convertingtoParse)
                $("#recieveMessage").html(convertingtoParse.message)
                window.location.href = 'http://127.0.0.1:8000/'
            } else {
                $("#recieveMessage").html(convertingtoParse.message)
                window.location.href = 'http://127.0.0.1:8000/register/'
            }
            })
        }
    </script>
</body>
</html>